<div class="center_page">
  <h1>Edit <%= @patron.name %></h1>

  <div class="form">
    <%= form_for @patron do |f| %>
      <%= f.label "What's your name?" %>
      <br>
      <%= f.text_area :name %>
      <br>
      <br>
    <div class="form_buttons">
      <div class="form_button_blue">
        <%= f.submit %>
      <% end %>
    </div>
    <% if @patron.user == current_user || @patron.order.patrons.first.user == current_user || current_user.email == "admin@deliverwe.com" %>
      <a href="/patrons/<%= @patron.id %>/cancel">
        <div class="orange_button orange_link">
          <p>Cancel Order</p>
        </div>
      </a>
    <% end %>
    </div>
    <br>

    <%= link_to "<< Back", patron_path(@patron) %>
  </div>
</div>
