<div class="center_page">
  <h1>Let's Edit <%= @patron.name %>'s Name</h1>

  <%= form_for @patron do |f| %>
    <%= f.label "What's your name?" %>
    <%= f.text_field :name %>

    <%= f.submit %>
  <% end %>

  <br>

  <%= link_to "BACK", patron_path(@patron) %>
</div>
