<div class="center_page">
  <h1>Let's Edit <%= @patron.name %>'s Name</h1>

  <%= form_for @patron do |f| %>
    <%= f.label "What's your name?" %>
    <%= f.text_field :name %>

    <%= f.submit %>
  <% end %>

  <br>

  <%= link_to patron_path(@patron) do %>
    <div class="blue_button blue_link">
      <p>BACK</p>
    </div>
  <% end %>
</div>
