<h1>Join Order from <%= Restaurant.find(@order.restaurant_id).name %></h1>

<%= form_for [@order, @patron] do |f| %>

  <%= f.hidden_field :name, :value => current_user.email %>

  <%= f.submit %>
<% end %>

<br>
<br>

<%= link_to "BACK", order_path(@order) %>
