<header>
  <h1><a class="no_underline" href="/">DeliverWe</a></h1>
</header>

<h1>Hello <%= @patron.name %></h1>
<% @patron_price = 0.00 %>
<% @patron.items.each do |item| %>
  <div class="item_box">
    <p class="item"><%= item.name %></p>
    <p class="price">$<%= item.price %></p>
  </div>
  <% @patron_price = @patron_price + item.price %>
  <br>
<% end %>

<h4><a href="/patrons/<%= @patron.id %>/add">Add Item</a></h4>

<h4><a href="/order/<%= Order.find(@patron.order_id).id %>">View Order</a></h4>
