<div class="padded_page">
  <br>
  <%= link_to "<< Order", order_path(@patron.order) %>
  <% if @patron.user == current_user || @patron.order.patrons.first.user == current_user %>
    <h1><%= @patron.name %>'s Order <%=link_to edit_patron_path(@patron) do %><img src="http://downloadicons.net/sites/default/files/pencil-icon-63783.png" alt="Edit Icon" class="large_pencil"><% end %></h1>
  <% else %>
    <h1><%= @patron.name %>'s Order</h1>
  <% end %>
  <% @patron_price = 0.00 %>
  <% @patron.items.each do |item| %>
    <div class="item_box">
      <% if @patron.user == current_user || @patron.order.patrons.first.user == current_user %>
        <p class="item"><%= item.name %><%=link_to edit_item_path(item) do %><img src="http://downloadicons.net/sites/default/files/pencil-icon-63783.png" alt="Edit Icon" class="edit_pencil"><% end %></p>
      <% else %>
        <p class="item"><%= item.name %></p>
      <% end %>
      <p class="price"><%= number_to_currency(item.price) %></p>
      <% @patron_price = @patron_price + item.price %>
      <% unless item.modifications == "" %>
        <p class="modifications">+ <%= item.modifications %></p>
        <% if item.modifications_price %>
          <p class="price"><%= number_to_currency(item.modifications_price) %></p>
          <% @patron_price = @patron_price + item.modifications_price %>
        <% end %>
      <% end %>
    </div>
    <br>
  <% end %>

  <% @patron_fee = (Restaurant.find(@patron.order.restaurant_id).delivery_fee)/@patron.order.patrons.length %>
  <div class="item_box">
    <p class="fee">Delivery Fee</p>
    <p class="price"><%= number_to_currency(@patron_fee) %></p>
    <% @patron_price = @patron_price + @patron_fee %>
    <p class="item">Tax</p>
    <p class="price"><%= number_to_currency(@patron_price*(@patron.order.restaurant.tax/100)) %></p>
    <% if @patron.user == current_user || @patron.order.patrons.first.user == current_user %>
      <%= link_to new_patron_item_path(@patron) do %>
        <div class="blue_button blue_link">
          <p>New Item</p>
        </div>
      <% end %>
    <% end %>
  </div>
  <% @patron_price = @patron_price*(1+(@patron.order.restaurant.tax/100)) %>
  <div class="item_box">
    <p class="price">Total: <%= number_to_currency(@patron_price) %></p>
    <p class="price">+ Tip: <%= number_to_currency(5.00/@patron.order.patrons.length) %></p>
    <p class="price">Personal Total: <%= number_to_currency(@patron_price+(5.00/@patron.order.patrons.length)) %></p>
  </div>
</div>
