<div class="center_page">
  <h1>Edit Order Time for order from <%= @order.restaurant.name %></h1>

  <%= form_for @order do |f| %>
    <%= f.label "What Time Do You Plan on Ordering?" %>
    <br>
    <%= f.text_field :time %>

    <br>
    <br>

    <%= f.submit %>
  <% end %>
  <br>
  <%= link_to "BACK", order_path(@order) %>
</div>
