<h1>Create a New Order from <%= @restaurant.name %></h1>

<%= form_for [@restaurant, @order] do |f| %>
  <%= f.label :note %> <p>(50 Character Max)</p>
  <br>
  <%= f.text_field :note %>

  <%= f.submit %>
<% end %>
