<header>
  <h1><a class="no_underline" href="/">DeliverWe</a></h1>
</header>

<h1>Showing Order!</h1>
<p><img class="logo" src="<%= Restaurant.find(@order.restaurant_id).logo_url %>" alt="<%= Restaurant.find(@order.restaurant_id).name %> Logo"><a href="/order/<%= @order.id %>"><%= Restaurant.find(@order.restaurant_id).name %></a></p>
<p>Delivery Minimum: <%= number_to_currency(Restaurant.find(@order.restaurant_id).delivery_min) %></p>
<p>Delivery Fee: <%= number_to_currency(Restaurant.find(@order.restaurant_id).delivery_fee) %></p>
<% @order_tax = Restaurant.find(@order.restaurant_id).tax %>
<p>Tax: <%= @order_tax %>%</p>
<% if @order.patrons.length >= 1 %>
  <p><span class="head_patron">Head Patron: </span><%= @order.patrons.first.name %></p>
<% else %>
<p><span class="head_patron">Head Patron: No One Has Taken Charge</span></p>
<% end %>
<% @order_price = 0.00 + Restaurant.find(@order.restaurant_id).delivery_fee %>
  <% unless @order.note == "" %>
    <div class="note_box">
      <p><%= @order.note %></p>
    </div>
  <% end %>
<% @order.patrons.each do |patron| %>
<div>
  <% @patron_price = 0.00 %>
    <p><a href="/patrons/<%= patron.id %>"><%= patron.name %></a></p>
    <% patron.items.each do |item| %>
      <p class="item"><%= item.name %></p>
      <p class="price"><%= number_to_currency(item.price) %></p>
      <% unless item.modifications == "" %>
        <p class="modifications">+ <%= item.modifications %></p>
        <% if item.modifications_price %>
          <p class="price"><%= number_to_currency(item.modifications_price) %></p>
        <% end %>
      <% end %>
      <% @order_price = @order_price + item.price %>
      <% @patron_price = @patron_price + item.price %>
      <% if item.modifications_price %>
        <% @order_price = @order_price + item.modifications_price %>
        <% @patron_price = @patron_price + item.modifications_price %>
      <% end %>
    <% end %>
    <% @patron_fee = (Restaurant.find(@order.restaurant_id).delivery_fee)/@order.patrons.length %>
    <p class="fee">Delivery Fee</p>
    <p class="price"><%= number_to_currency(@patron_fee) %></p>
    <% @patron_price = @patron_price + @patron_fee %>
    <p class="item">Tax</p>
    <p class="price"><%= number_to_currency(@patron_price*(@order_tax/100)) %></p>
    <br>
    <p class="price"><%= patron.name %>'s Total: <%= number_to_currency(@patron_price*(1+(@order_tax/100))) %></p>
    <hr>
  </div>
<br>
<% end %>
<br>
<% @order_price = @order_price*(1+(@order_tax/100)) %>
<p class="price">Total Price: <%= number_to_currency(@order_price) %></p>
<% if @order_price < Restaurant.find(@order.restaurant_id).delivery_min %>
  <p class="price red">UNMET DELIVERY MINIMUM: <%= number_to_currency(Restaurant.find(@order.restaurant_id).delivery_min) %></p>
<% end %>
<h4><a href="/order/<%= @order.id %>/join">Join Order</a></h4>
</div>

<a href="/order/<%= @order.id %>/cancel"><div>
  <p>CANCEL ORDER</p>
</div></a>
