<div class="second_header">
  <img class="second_header_logo" src="<%= Restaurant.find(@order.restaurant_id).logo_url %>" alt="<%= Restaurant.find(@order.restaurant_id).name %> Logo">
  <div class="second_header_right">
    <div class="second_header_title">
      <p><%= Restaurant.find(@order.restaurant_id).name %></p>
    </div>
    <div class="second_header_bottom">
      <div class="second_header_bottom_left">
        <%= link_to order_patrons_path(@order), method: :post do %>
          <div class="second_header_quadrant grey_link">
            <p>Join</p>
          </div>
        <% end %>
        <a target="_blank" href="<%= Restaurant.find(@order.restaurant_id).menu_link %>">
          <div class="second_header_quadrant grey_link">
            <p>Menu</p>
          </div>
        </a>
      </div>
      <div class="second_header_bottom_right">
        <div class="second_header_quadrant">
          <p><%= number_to_currency(Restaurant.find(@order.restaurant_id).delivery_fee) %> Fee</p>
        </div>
        <div class="second_header_quadrant">
          <p><%= number_to_currency(Restaurant.find(@order.restaurant_id).delivery_min) %> Minimum</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="index">
  <div class="left_section">
    <% @order_tax = Restaurant.find(@order.restaurant_id).tax %>
    <% @order_price = 0.00 + Restaurant.find(@order.restaurant_id).delivery_fee %>
    <% @price_check = 0.00 %>
    <br>
    <% if @order.patrons.length >= 1 && @order.patrons.first.user == current_user %>
      <p class="announcement"><%= @order.patrons.first.name %> will place this Order at <%= @order.time.strftime("%I:%M%p") %><%=link_to edit_order_path(@order) do %><img src="http://downloadicons.net/sites/default/files/pencil-icon-63783.png" alt="Edit Icon" class="large_pencil"><% end %></p>
    <% elsif @order.patrons.length >= 1 %>
      <p class="announcement"><%= @order.patrons.first.name %> will place this Order at <%= @order.time.strftime("%I:%M%p") %></p>
    <% else %>
      <p class="announcement">SOMEONE will need to place this Order at <%= @order.time.strftime("%I:%M%p") %></p>
    <% end %>
    <br>
    <p class="sub_announcement">*****Please Note that a $5.00 tip is INCLUDED on all orders*****</p>
    <br>
    <hr>
    <br>
    <div class="bill">

      <% @order.patrons.each do |patron| %>
        <div>
        <% @patron_price = 0.00 %>
          <% if patron.user == current_user || @order.patrons.first.user == current_user %>
            <%= link_to patron do %>
              <p class="name_link"><%= patron.name %></p>
            <% end %>
          <% else %>
            <p><%= patron.name %></p>
          <% end %>
          <% patron.items.each do |item| %>
            <p class="item"><%= item.name %></p>
            <p class="price"><%= number_to_currency(item.price) %></p>
            <% unless item.modifications == "" %>
              <p class="modifications">+ <%= item.modifications %></p>
              <% if item.modifications_price != 0 && item.modifications_price != nil %>
                <p class="price"><%= number_to_currency(item.modifications_price) %></p>
              <% else %>
                <div class="empty_price"></div>
              <% end %>
            <% end %>
            <% @order_price = @order_price + item.price %>
            <% @price_check = @price_check + item.price %>
            <% @patron_price = @patron_price + item.price %>
            <% if item.modifications_price %>
              <% @order_price = @order_price + item.modifications_price %>
              <% @price_check = @price_check + item.modifications_price %>
              <% @patron_price = @patron_price + item.modifications_price %>
            <% end %>
          <% end %>
          <% @patron_fee = (Restaurant.find(@order.restaurant_id).delivery_fee)/@order.patrons.length %>
          <p class="fee">Delivery Fee</p>
          <p class="price"><%= number_to_currency(@patron_fee) %></p>
          <% @patron_price = @patron_price + @patron_fee %>
          <p class="item">Tax</p>
          <p class="price"><%= number_to_currency(@patron_price*(@order_tax/100)) %></p>
          <br>
          <% @patron_price = @patron_price*(1.00+(@order_tax/100)) %>
          <p class="price">Total: <%= number_to_currency(@patron_price) %></p>
          <p class="price">+ Tip: <%= number_to_currency(5.00/@order.patrons.length) %></p>
          <p class="price">Personal Total: <%= number_to_currency(@patron_price+(5.00/@order.patrons.length)) %></p>
          <hr>
        </div>
      <br>
      <% end %>
      <br>
      <% @order_price = @order_price*(1.00+(@order_tax/100)) %>
      <p class="price">Order Total: <%= number_to_currency(@order_price + 5.00) %></p>
      <p class="price">(Before Tip: <%= number_to_currency(@order_price) %>)</p>
      <br>
      <% @order_min = Restaurant.find(@order.restaurant_id).delivery_min %>
      <% if @price_check < @order_min %>
        <p class="price red"> <%= number_to_currency(@order_min - @price_check) %> short of Minimum</p>
      <% end %>
    </div>

    <%= link_to "<< BACK", root_path %>

    <div class="invisible_bottom">YOU FOUND ME</div>
  </div>

  <div class="comment_section">
    <div class="forum_header">
      <h2>MessageBoard</h2>
    </div>
    <div class="hidden_comment"></div>
    <div class="forum">
      <% @order.posts.each do |post| %>
        <% if current_user && post.user == current_user %>
            <div class="your_post">
              <p class="post_author"><%= post.author %> <%=link_to edit_post_path(post) do %><img src="http://downloadicons.net/sites/default/files/pencil-icon-63783.png" alt="Edit Icon" class="edit_pencil"><% end %></p>
              <p><%= post.content %></p>
            </div>
            <p class="right time"><%= post.created_at.strftime('%I:%M%p') %></p>
        <% else %>
          <div class="other_post">
            <p class="post_author"><%= post.author %></p>
            <p><%= post.content %></p>
          </div>
          <p class="time"><%= post.created_at %></p>
        <% end %>
      <% end %>
    </div>
    <br>
    <div class="forum_new">
      <%= form_for [@order, @post] do |f| %>
        <%= f.label "What would you like to say?" %>
        <br>
        <%= f.text_area :content %>

        <br>
        <br>
        <div class="form_button_blue">
          <%= f.submit %>
        <% end %>
        </div>
    </div>
    <br>
  </div>
</div>
