<div class="center_page">
  <h1>Edit <%= @restaurant.name %></h1>
  <form class="form">
    <%= form_for @restaurant do |f| %>
      <%= f.label "What's the Name of this Restaurant?" %>
      <br>
      <%= f.text_area :name %>

      <br>
      <br>

      <%= f.label "The URL to a picture of the Restaurant's Logo (Square Pictures work best)" %>
      <br>
      <%= f.text_area :logo_url %>

      <br>
      <br>

      <%= f.label "The URL to an online Menu for the Restaurant." %>
      <br>
      <%= f.text_area :menu_link %>

      <br>
      <br>

      <%= f.label "What's the Delivery Fee? (Optional)" %>
      <br>
      <%= f.text_area :delivery_fee %>

      <br>
      <br>

      <%= f.label "What's the Delivery Minimum? (Optional)" %>
      <br>
      <%= f.text_area :delivery_min %>

      <br>
      <br>

      <%= f.label "What's the Tax at the restaurant? (Input 10% tax as '10')" %>
      <br>
      <%= f.text_area :tax %>

      <br>
      <br>
      <div class="form_buttons">
        <div class="form_button_blue">
          <%= f.submit %>
        <% end %>
        </div>
        <%= link_to @patron, method: :delete, class: "delete" do %>
          <div class="orange_button orange_link">
            <p>Delete Restaurant</p>
          </div>
        <% end %>
      </div>
      <br>
      <%= link_to "<< Back", restaurant_path(@restaurant) %>
  </div>
  <br>
