<div class="center_page">
  <h1>Edit <%= @restaurant.name %></h1>

  <%= form_for @restaurant do |f| %>
    <%= f.label "What's the Name of this Restaurant?" %>
    <br>
    <%= f.text_field :name %>

    <br>
    <br>

    <%= f.label "The URL to a picture of the Restaurant's Logo (Square Pictures work best)" %>
    <br>
    <%= f.text_field :logo_url %>

    <br>
    <br>

    <%= f.label "The URL to an online Menu for the Restaurant." %>
    <br>
    <%= f.text_field :menu_link %>

    <br>
    <br>

    <%= f.label "If there is one, what's the Delivery Fee?" %>
    <br>
    <%= f.text_field :delivery_fee %>

    <br>
    <br>

    <%= f.label "If there is one, what's the Delivery Minimum?" %>
    <br>
    <%= f.text_field :delivery_min %>

    <br>
    <br>

    <%= f.label "What's the Tax at the restaurant? (Input 10% tax as '10')" %>
    <br>
    <%= f.text_field :tax %>

    <br>
    <br>

    <%= f.submit %>
  <% end %>

  <br>

  <div class="edit_restaurant_buttons">
    <%= link_to restaurant_path(@restaurant) do %>
      <div class="blue_button blue_link">
        <p>BACK</p>
      </div>
    <% end %>
    <%= link_to @patron, method: :delete, class: "delete" do %>
      <div class="orange_button orange_link">
        <p>DELETE</p>
      </div>
    <% end %>
  </div>
</div>
