<header>
  <h1><a class="no_underline" href="/">DeliverWe</a></h1>
</header>
<div class="page_break">
  <h2>Orders!</h2>
</div>
<div class="restaurant_section">
  <% @orders.each do |order| %>
  <% @order_tax = Restaurant.find(order.restaurant_id).tax %>
  <% @order_price = 0.00 + Restaurant.find(order.restaurant_id).delivery_fee %>
  <div class="order_box">
    <div class="box_header">
      <p><img class="logo" src="<%= Restaurant.find(order.restaurant_id).logo_url %>" alt="<%= Restaurant.find(order.restaurant_id).name %> Logo"><p>
      <div class="box_header_right">
        <a class="no_underline" href="/order/<%= order.id %>"><p class="box_title"><%= Restaurant.find(order.restaurant_id).name %></p></a>
        <div class="head_patron_box">
          <p class="head_patron_label">Head Patron:</p>
          <% if order.patrons.length >= 1 %>
            <p class="head_patron"><%= order.patrons.first.name %></p>
          <% else %>
            <p class="head_patron">No One Has Taken Charge</p>
          <% end %>
        </div>
      </div>
    </div>
      <div class="patron_box">
        <% order.patrons.each do |patron| %>
            <p class="patron_line"><a href="/patrons/<%= patron.id %>"><%= patron.name %></a></p>
            <% patron.items.each do |item| %>
              <% @order_price = @order_price + item.price %>
              <% if item.modifications_price %>
                <% @order_price = @order_price + item.modifications_price %>
              <% end %>
            <% end %>
        <% end %>
      </div>
      <br>
      <% @order_price = @order_price*(1+(@order_tax/100)) %>
      <p class="price">Total Price: <%= number_to_currency(@order_price) %></p>
      <h4><a href="/order/<%= order.id %>/join">Join Order</a></h4>
    </div>
    <br>
  <% end %>
</div>
<br>
<div class="page_break">
  <h2>Restaurants!</h2>
</div>
<div class="restaurant_section">
  <% @restaurants.each do |restaurant| %>
    <div class="restaurant_box">
      <div class="box_header">
        <p><img class="logo" src="<%= restaurant.logo_url %>" alt="<%= restaurant.name %> Logo"></p>
        <a class="no_underline" href="<%= restaurant.id %>"><div class="restaurant_header_right">
            <p class ="restaurant_name"><%= restaurant.name %></p>
        </div></a>
      </div>
      <p><a href="<%= restaurant.menu_link %>">Menu</a></p>
      <h4><a href="/<%= restaurant.id %>/new_order">SUGGEST</a></h4>
    </div>
    <br>
  <% end %>
</div>
