<div class="index">
  <div class="order_section">
    <% unless @orders.length > 0 %>
    <div class="invisible"></div>
    <div class="">
      <p>No Orders In Progress</p>
    </div>
    <div class="invisible"></div>
    <% end %>
    <% @orders = @orders.sort_by do |order| %>
    <% order.patrons.length %>
    <% end %>
    <% @orders = @orders.reverse %>
    <% @orders.each do |order| %>
    <% @order_min = order.restaurant.delivery_min %>
    <% @order_tax = Restaurant.find(order.restaurant_id).tax %>
    <% @order_price = 0.00 + Restaurant.find(order.restaurant_id).delivery_fee %>
    <div class="order_box">
      <div class="box_header">
        <img class="logo" src="<%= Restaurant.find(order.restaurant_id).logo_url %>" alt="<%= Restaurant.find(order.restaurant_id).name %> Logo">
        <div class="box_title">
          <p><%= Restaurant.find(order.restaurant_id).name %></p>
        </div>
      </div>
      <div class="order_bottom">
        <div class="order_buttons_section">
          <%= link_to order_patrons_path(order), method: :post do %>
            <div class="order_button grey_link">
              <p>Join Order</p>
            </div>
          <% end %>
          <%= link_to order_path(order) do %>
            <div class="order_button grey_link">
              <p>View Order</p>
            </div>
          <% end %>
          <a target="_blank" href="<%= order.restaurant.menu_link %>">
            <div class="order_button grey_link">
              <p>Menu</p>
            </div>
          </a>
        </div>
        <div class="patron_box">
          <p class="patron_line">Order will be placed at <%= order.time %></p>
          <% if @order_min > @order_price*(1+(@order_tax/100)) %>
            <p class="red patron_line"><%= number_to_currency(@order_min - @order_price*(1+(@order_tax/100))) %> short of Minimum</p>
          <% end %>
          <br>
          <% order.patrons.each do |patron| %>
              <p class="patron_line">
                <%= link_to patron.name, patron %></p>
              <% patron.items.each do |item| %>
                <% @order_price = @order_price + item.price %>
                <% if item.modifications_price %>
                  <% @order_price = @order_price + item.modifications_price %>
                <% end %>
              <% end %>
          <% end %>
          <br>
        </div>
      </div>
    </div>
    <% end %>
  </div>

  <div class="restaurant_section">
    <%= link_to new_restaurant_path do %>
      <div class="restaurant_header blue_link">
        <h2>Add Restaurant</h2>
      </div>
    <% end %>
    <% @restaurants.each do |restaurant| %>
      <div class="restaurant_box">
        <img class="logo" src="<%= restaurant.logo_url %>" alt="<%= restaurant.name %> Logo">
        <div class="restaurant_box_right">
          <%= link_to restaurant_path(restaurant) do %>
            <div class="restaurant_box_title grey_link">
              <p><%= restaurant.name %></p>
            </div>
          <% end %>
          <div class="restaurant_box_bottom">
            <%= link_to new_restaurant_order_path(restaurant) do %>
              <div class="restaurant_quadrant orange_link">
                <p>Start Order</p>
              </div>
            <% end %>
            <a target="_blank" href="<%= restaurant.menu_link %>"><div class="restaurant_quadrant orange_link">
              <p>Menu</p>
            </div></a>
          </div>
        </div>



      </div>
    <% end %>

  </div>
</div>
