<h1>Orders!</h1>
<% @orders.each do |order| %>
<div class="order_box">
    <p><img class="logo" src="<%= Restaurant.find(order.restaurant_id).logo_url %>" alt="<%= Restaurant.find(order.restaurant_id).name %> Logo"> <%= Restaurant.find(order.restaurant_id).name %></p>
    <p><%= order.head_patron %></p>
  </div>
  <br>
<% end %>
<br>
<h1>Restaurants!</h1>
<% @restaurants.each do |restaurant| %>
  <div class="restaurant_box">
    <p><img class="logo" src="<%= restaurant.logo_url %>" alt="<%= restaurant.name %> Logo"><a href="<%= restaurant.id %>"><span class ="restaurant_name"><%= restaurant.name %></span></a></p>
    <p><a href="<%= restaurant.menu_link %>">Menu</a></p>
    <h4><a href="/<%= restaurant.id %>/new_order">SUGGEST</a></h4>
  </div>
  <br>
<% end %>
