<div class="page_break">
  <h2>Orders!</h2>
</div>
<div class="restaurant_section">
  <% @orders = @orders.sort_by do |order| %>
  <% order.patrons.length %>
  <% end %>
  <% @orders = @orders.reverse %>
  <% @orders.each do |order| %>
  <% @order_min = order.restaurant.delivery_min %>
  <% @order_tax = Restaurant.find(order.restaurant_id).tax %>
  <% @order_price = 0.00 + Restaurant.find(order.restaurant_id).delivery_fee %>
  <div class="order_box">
    <div class="box_header">
      <p><img class="logo" src="<%= Restaurant.find(order.restaurant_id).logo_url %>" alt="<%= Restaurant.find(order.restaurant_id).name %> Logo"><p>
      <div class="box_header_right">
        <%= link_to(order) do %>
          <p class="box_title"><%= Restaurant.find(order.restaurant_id).name %></p>
        <% end %>
        <div class="head_patron_box">
          <p class="head_patron_label">Head Patron:</p>
          <% if order.patrons.length >= 1 %>
            <p class="head_patron"><%= order.patrons.first.name %></p>
          <% else %>
            <p class="head_patron">No One Has Taken Charge</p>
          <% end %>
        </div>
      </div>
    </div>
      <h4 class="join_order"><%= link_to "Join Order", new_order_patron_path(order) %></h4>
      <div class="patron_box">
        <% order.patrons.each do |patron| %>
            <p class="patron_line">
              <%= link_to patron.name, patron %></p>
            <% patron.items.each do |item| %>
              <% @order_price = @order_price + item.price %>
              <% if item.modifications_price %>
                <% @order_price = @order_price + item.modifications_price %>
              <% end %>
            <% end %>
        <% end %>
      </div>
      <br>
      <% if order.note %>
        <div class="index_note">
          <p><%= order.note %></p>
          <% if @order_min > @order_price*(1+(@order_tax/100)) %>
            <p class="red index_min"><%= number_to_currency(@order_min - @order_price*(1+(@order_tax/100))) %> short of Minimum</p>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
<br>
<div class="page_break">
  <h2>Restaurants!</h2>
</div>
<div class="restaurant_section">
  <% @restaurants.each do |restaurant| %>
    <div class="restaurant_box">
      <div class="box_header">
        <p><img class="logo" src="<%= restaurant.logo_url %>" alt="<%= restaurant.name %> Logo"></p>
        <%= link_to restaurant_path(restaurant) do %>
          <div class="restaurant_header_right">
            <p class ="restaurant_name"><%= restaurant.name %></p>
        </div>
        <% end %>
      </div>
      <div class="restaurant_bottom_box">
        <a target="_blank" class="no_underline" href="<%= restaurant.menu_link %>"><div class="restaurant_quadrant">
          <p>Menu</p>
        </div></a>
        <%= link_to new_restaurant_order_path(restaurant) do %>
          <div class="restaurant_quadrant">
            <p>SUGGEST</p>
          </div>
        <% end %>
        <div class="restaurant_quadrant">
          <p><%= number_to_currency(restaurant.delivery_fee) %> Fee</p>
        </div>
        <div class="restaurant_quadrant">
          <p><%= number_to_currency(restaurant.delivery_min) %> Minimum</p>
        </div>
      </div>
    </div>
    <br>
  <% end %>
<%= link_to "New Restaurant", new_restaurant_path %>
</div>
