<div class="center_page">
  <h1>Edit <%= @item.name %></h1>

    <%= form_for @item do |f| %>
    <%= f.label "What's the Name of the Item You'd Like to Order?" %>
    <br>
    <%= f.text_field :name %>

    <br>
    <br>

    <%= f.label "Price?" %>
    <br>
    <%= f.text_field :price %>

    <br>
    <br>

    <%= f.label "Would you like to make any modifications? (Optional)" %>
    <br>
    <%= f.text_area :modifications %>

    <br>
    <br>

    <%= f.label "What's the Price of your Modifications? (Optional)" %>
    <br>
    <%= f.text_field :modifications_price %>

    <br>
    <br>

    <%= f.submit %>
  <% end %>

    <br>

  <%= link_to "BACK", patron_path(@item.patron) %>
</div>
