<h1>Let's Make a New Post about <%= @order.patrons.first.name %>'s Order from <%= @order.restaurant.name %>!</h1>

<%= form_for [@order, @post] do |f| %>
  <%= f.label "What would you like to say?" %>
  <br>
  <%= f.text_area :content %>

  <br>
  <br>

  <%= f.submit %>
<% end %>

<% @order.posts.reverse.each do |post| %>
<p><%= post.content %></p>
<hr>
<% end %>

<h4><a href="/">HOME</a></h4>
