<!DOCTYPE html>
<html>
  <head>
    <title>DeliverWe</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <a class="no_underline" href="/">
        <div class="main_title">
          <h1>DeliverWe</h1>
        </div>
      </a>

      <div class="header_filler"></div>

      <% unless current_user %>
        <%= link_to new_user_registration_path do %>
          <div class="sign_up">
            <p>Sign Up</p>
          </div>
        <% end %>
        <%= link_to new_user_session_path do %>
          <div class="sign_in">
            <p>Sign In</p>
          </div>
        <% end %>
      <% else %>
        <%= link_to destroy_user_session_path, :method => :delete do %>
          <div class="sign_out">
            <p>Sign Out <%= current_user.email %></p>
          </div>
        <% end %>

      <% end %>

    </header>
    <div class="content">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
  </body>
</html>
